html, body {
  box-sizing: border-box;
}

body {
  font-size: .90rem;
}

.button, .button:hover {
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: #194b7d;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.feather {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

.loader {
  content: url('/img/loading.gif');
  margin: auto;
  text-align: center;
  padding-top: 120px;
}

.quill {
  height: calc(100% - 50px)!important;
}

.ql-container {
  font-size: 1rem!important;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 56px; /* Height of navbar */
  height: calc(100vh - 56px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar hr {
  border: 0;
  border-bottom: solid 1px #eee;
  width: 100%;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-link {
  font-weight: 700;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #666;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

